<%= render "shared/navbar" %>
<div class="container p-4">
  <% @capsules.each do |capsule| %>
    <% if capsule.status == "draft" %>
      <%= render partial: "capsules/draft_capsule", locals: { capsule: capsule } %>
    <% elsif capsule.status == 'unlocked' %>
      <%= render partial: "capsules/unlocked_capsule", locals: { capsule: capsule } %>
    <% else %>
      <%= render partial: "capsules/locked_capsule", locals: { capsule: capsule } %>
    <% end %>
  <% end %>

  <div class="text-center mt-5">
    <%= link_to "+ Create New Capsule", new_capsule_path, class: "btn btn-dark rounded-pill"%>
  </div>
</div>
