<div class="m-4">
  <%= link_to capsules_path, class: 'link-underline link-underline-opacity-0 text-black w-auto' do %>
    <span class="material-symbols-outlined mb-4">keyboard_backspace</span>
  <% end %>
  <h1 class="text-black text-start fs-2"><%= @capsule.name %></h1>
  <p class="text-secondary fs-6">Send by <%= @capsule.user.first_name %> on <%= @capsule.encapsulation_date.strftime("%d/%m/%Y") %></p>
  <div class="d-flex mb-4 ps-1">
    <% @users.each do |user| %>
      <% if user.avatar.attached? %>
        <%= image_tag(user.avatar, class: "avatar-show") %>
      <% else %>
        <% colors = ["text-bg-primary", "text-bg-danger", "text-bg-warning", "text-bg-dark", "text-bg-info"] %>
        <div class="avatar <%= colors.sample%> d-flex align-items-center justify-content-center">
          <span class="text-light"><%= current_user.first_name[0]%></span>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @capsule.messages.count > 0 %>
    <h2 class="text-black fs-5 text-start mb-2">Messages</h2>
    <hr>
    <div class="mt-2 mb-4 p-0">
      <% @capsule.messages.each do |message| %>
        <div>
          <p class="fw-bold text-black mb-1"><%= message.title %></p>
          <p><%= message.content %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @capsule.audios.count > 0 %>
    <h2 class="text-black fs-5 text-start">Audio messages</h2>
    <hr>
    <div class="mt-2 mb-4 p-0">
      <% @capsule.audios.each do |audio| %>
        <audio controls>
          <source src="<%= rails_blob_url(audio) %>" type="audio/mpeg" class="mb-1"/>
        </audio>
      <% end %>
    </div>
  <% end %>
  <% if @capsule.photos.count > 0 %>
    <h2 class="text-black fs-5 text-start">Photos</h2>
    <div class="d-flex border border-light-gray mt-2 mb-4 p-0 overflow-scroll p-2 pe-0 rounded-1">
      <% @capsule.photos.each do |photo| %>
        <%= image_tag photo, class: 'display-photos'%>
      <% end %>
    </div>
  <% end %>
  <% if @capsule.videos.count %>
    <h2 class="text-black fs-5 text-start">Video record</h2>
    <div class="mt-2 mb-4 p-0">
      <% @capsule.videos.each do |video| %>
        <%= video_tag url_for(video), controls: true %>
      <% end %>
    </div>
  <% end %>
</div>
