<div class="container" data-toggle-target="partial">
  <%= link_to 'Back', capsules_path, method: :patch %>
  <div class="container mt-3">
    <% @capsule.messages.each do |message| %>
      <div class="form-control">
        <p><%= message.title %></p>
        <p><%= message.content %></p>
        <%= link_to 'Edit', edit_capsule_message_path(@capsule, message) %>
        <%= button_to 'Delete', capsule_message_path(@capsule, message), method: :delete %>
      </div>
    <% end %>
  </div>

  <%= link_to 'Add message', new_capsule_message_path(@capsule) %>

  <%= simple_form_for @capsule, url: edit_capsule_path(@capsule), method: :post, remote: true do |f| %>
      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10">
        <%= f.input :photo, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
        <div class="dropzone-msg dz-message needsclick text-gray-600">
          <p class="dropzone-msg-title">Select photos to add to your capsule</p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <%# <%= f.submit 'Sauvegarder', class: 'btn btn-default mt-3' %>
      </div>
    <% end %>


  <div class="d-flex justify-content-center w-100">
    <button data-action="click->toggle#toggleCaspuleDataPartial" class="btn btn-dark rounded-pill px-4" >Next</button>
  </div>
</div>
