<div class="container pt-4" data-controller="autosave">
  <%= link_to capsules_path, class: 'link-underline link-underline-opacity-0 text-black w-auto' do %>
    <div class="d-flex gap-2 w-auto">
      <span class="material-symbols-outlined">keyboard_backspace</span>
      <p>Back</p>
    </div>
  <% end %>
  <%= simple_form_for @capsule, html: { multipart: true, data: { 'autosave-target': 'form' } } do |f| %>
    <%= f.input :name, label: 'Give your capsule a name', input_html: { value: @capsule.name, data: { 'action': 'input->autosave#save' } }, label_html: { class: 'fw-bold' } %>
  <% end %>

  <!-- Toggle message section -->

  <div class="d-flex gap-2 align-items-center" data-action="click->toggle#toggleMessages">
    <%= image_tag("icons/saved-text-icon.svg") %>
    <p class="fs-6 fw-bold m-0 h-auto">Added messages</p>
    <span class="material-symbols-outlined text-secondary" data-toggle-target="toggleIcon">arrow_drop_down_circle</span>
  </div>
  <div class="container mt-2 mb-4 p-0">
    <% @capsule.messages.each do |message| %>
      <div data-toggle-target="message">
        <div class="d-flex justify-content-between">
          <p class="fw-bold text-black mb-1"><%= message.title %></p>
          <div class="d-flex align-items-center">
            <%= link_to edit_capsule_message_path(@capsule, message), class: 'pe-1 message-icon link-underline link-underline-opacity-0 border-end border-light-gray rounded-0' do %>
              <span class="material-symbols-outlined">edit_square</span>
            <% end %>
            <div class="v-divider"></div>
            <%= button_to capsule_message_path(@capsule, message), class: 'ps-1 btn p-0 message-icon', method: :delete do %>
              <span class="material-symbols-outlined">close</span>
            <% end %>
          </div>
        </div>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>

  <!-- Toggle photos section -->

  <div id="photos-display" class="d-flex gap-2 align-items-center" data-action="click->toggle#togglePhotos">
    <%= image_tag("icons/saved-photo-icon.svg") %>
    <p class="fs-6 fw-bold m-0 h-auto">Added photos</p>
    <span class="material-symbols-outlined text-secondary" data-toggle-target="toggleIcon">arrow_drop_down_circle</span>
  </div>
  <div class="container mt-2 mb-4 p-0" data-toggle-target="photos">
    <% if @capsule.photos.attached? %>
      <% @capsule.photos.each do |photo| %>
        <div class="photo-container">
          <%= cl_image_tag(photo.key, width: 200, height: 200, crop: :fill) %>
        </div>
      <% end %>
    <% else %>
      <p>No photos added yet.</p>
    <% end %>
  </div>


<!-- EDIT ZONE-->
  <h6 class="fw-bold mt-4 mb-3">Add new content to your capsule</h6>

  <!-- Add Message -->

  <%= link_to new_capsule_message_path(@capsule), data: { 'toggle-target': 'capsuleInput' }, class: 'link-underline link-underline-opacity-0' do %>
    <div class="d-flex gap-2 align-items-center">
      <%= image_tag("icons/text-icon.svg") %>
      <p class="fs-6 fw-bold m-0 h-auto text-black">Message<p>
    </div>
  <% end %>

<!-- Photos upload -->
<!-- Test autosave sur ce form uniquement -->

<%= simple_form_for @capsule, html: {data: { 'autosave-target': 'form' }}, url: capsule_medias_path(@capsule), method: :post do |f| %>
  <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10">
    <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', 'action': 'change->autosave#save', direct_upload_url: rails_direct_uploads_url } } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <div class="d-flex gap-2 align-items-center">
        <%= image_tag("icons/photo-icon.svg") %>
        <p class="fs-6 fw-bold m-0 h-auto">Photo<p>
        </div>
      </div>
    </div>
  <%= f.button :submit, "Upload photos to capsule"%>
<% end %>

<!-- Videos upload -->

<%= simple_form_for @capsule, html: {data: { 'autosave-target': 'form' }}, url: capsule_medias_path(@capsule), method: :post, remote: true do |f| %>
  <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10">
    <%= f.input :videos, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <div class="d-flex gap-2 align-items-center">
        <%= image_tag("icons/record-icon.svg") %>
        <p class="fs-6 fw-bold m-0 h-auto">Video<p>
        </div>
      </div>
    </div>
  <%= f.button :submit, "Upload videos to capsule"%>
<% end %>

<!-- Audios upload -->

<%= simple_form_for @capsule, html: {data: { 'autosave-target': 'form' }}, url: capsule_medias_path(@capsule), method: :post, remote: true do |f| %>
  <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10">
    <%= f.input :audios, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <div class="d-flex gap-2 align-items-center">
        <%= image_tag("icons/audio-icon.svg") %>
        <p class="fs-6 fw-bold m-0 h-auto">Audio<p>
        </div>
    </div>
  </div>
  <%= f.button :submit, "Upload audios to capsule"%>
<% end %>

<div class="d-flex justify-content-end w-100 mt-auto">
  <%= link_to 'Next', capsule_details_path(@capsule), class: 'btn fw-bold border-bottom border-light-gray rounded-0' %>
</div>

</div>
