<div class="container" data-controller="photos" data-toggle-target="draft">
  <%= link_to 'Back', capsules_path, method: :patch %>
  <div class="container mt-3">
    <% @capsule.messages.each do |message| %>
      <div class="form-control">
        <p><%= message.title %></p>
        <p><%= message.content %></p>
        <%= link_to 'Edit', edit_capsule_message_path(@capsule, message) %>
        <%= button_to 'Delete', capsule_message_path(@capsule, message), method: :delete %>
      </div>
    <% end %>
  </div>

  <%= link_to 'Add message', new_capsule_message_path(@capsule) %>
  <%= simple_form_for(@capsule) do |f| %>
    <%= f.input :photos,
                required: true,
                autofocus: true,
                as: :file,
                input_html: { multiple: true } %>
    <%= f.input :videos,
                required: true,
                autofocus: true,
                as: :file,
                input_html: { multiple: true } %>
    <%= f.input :audios,
                required: true,
                autofocus: true,
                as: :file,
                input_html: { multiple: true } %>
  <% end %>

  <button data-action="click->toggle#toggleFinalize">finalize</button>
</div>
