<div class="container pt-4">
  <%= simple_form_for @capsule, html: { multipart: true } do |f| %>
    <%= f.button :submit, 'Save as draft', class: 'btn btn-dark rounded-pill px-4 mb-3', data: { 'toggle-target': 'capsuleInput' } %>
    <a data-action="click->toggle#toggleInputs" class="d-none" data-toggle-target="capsuleInput">Back</a>

    <!-- Capsule Name -->

    <%= f.input :name, label: 'Capsule name', wrapper_html: { data: { 'toggle-target': 'capsuleInput' } }, hmtl: { value: @capsule.name } %>

    <!-- Toggle message section -->

    <div class="container mt-3">
      <% @capsule.messages.each do |message| %>
        <div class="form-control">
          <p><%= message.title %></p>
          <p><%= message.content %></p>
          <%= link_to 'Edit', edit_capsule_message_path(@capsule, message) %>
          <%= button_to 'Delete', capsule_message_path(@capsule, message), method: :delete %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Add message', new_capsule_message_path(@capsule), class: "btn btn-dark rounded-pill px-4 mb-3", data: { 'toggle-target': 'capsuleInput' } %>

  <!-- Capsule form -->

    <div data-controller="recipients" data-toggle-target="capsuleInput" class="d-none">
        <label for="email_field" class="form-label mb-2">Recipient(s) email(s)</label>
        <div class="d-flex w-100">
          <input type="email" data-recipients-target="input", class="form-control w-50 me-4">
          <button data-action="click->recipients#add", class="btn btn-dark rounded-pill px-4">Add Email</button>
        </div>
        <ul data-recipients-target="list" data-action="click->recipients#delete">
          <!-- Les e-mails ajoutés seront affichés ici -->
        </ul>
    </div>
    <%= f.input :unlock_date,
                  as: :date,
                  required: true,
                  html5: true,
                  input_html: { data: { controller: "datepicker" }, value: @capsule.unlock_date },
                  wrapper_html: { class:'d-none', data: { 'toggle-target': 'capsuleInput' } } %>
    <%= f.button :submit, 'Next', class: 'btn btn-dark rounded-pill px-4 d-none', data: { 'toggle-target': 'capsuleInput' } %>

    <!-- Photos upload -->

      <%= simple_form_for @capsule, html: {data: { 'toggle-target': 'capsuleInput' }}, url: capsule_medias_path(@capsule), method: :post, remote: true do |f| %>
        <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10">
          <%= f.input :photo, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
          <div class="dropzone-msg dz-message needsclick text-gray-600">
            <div class="d-flex gap-4">
              <p class="fw-bold btn btn-dark rounded-pill">Photos<p>
              </div>
            </div>
          </div>
        </div>
        <%= f.button :submit, class: 'd-none' %>
      <% end %>

    <!-- Videos upload -->

    <%= simple_form_for @capsule, html: {data: { 'toggle-target': 'capsuleInput' }}, url: capsule_medias_path(@capsule), method: :post, remote: true do |f| %>
      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10">
        <%= f.input :video, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
        <div class="dropzone-msg dz-message needsclick text-gray-600">
          <div class="d-flex gap-4">
            <p class="fw-bold btn btn-dark rounded-pill">Videos<p>
            </div>
          </div>
        </div>
      <%= f.button :submit, class: 'd-none' %>
    <% end %>

    <!-- Audios upload -->

    <%= simple_form_for @capsule, html: {data: { 'toggle-target': 'capsuleInput' }}, url: capsule_medias_path(@capsule), method: :post, remote: true do |f| %>
      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10">
        <%= f.input :audio, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
        <div class="dropzone-msg dz-message needsclick text-gray-600">
          <div class="d-flex gap-4">
            <p class="fw-bold btn btn-dark rounded-pill">Audio<p>
            </div>
        </div>
      </div>
      <%= f.button :submit, class: 'd-none' %>
    <% end %>

  <% end %>

  <!-- Ajax toggle button -->

  <div class="d-flex justify-content-center w-100">
    <button data-action="click->toggle#toggleInputs" class="btn btn-dark rounded-pill px-4" data-toggle-target="capsuleInput">Next</button>
  </div>
</div>
