<div class="container pt-4" data-controller="autosave">
  <%= link_to capsules_path, class: 'link-underline link-underline-opacity-0 text-black w-auto' do %>
    <div class="d-flex gap-2 w-auto mb-4">
      <span class="material-symbols-outlined">keyboard_backspace</span>
    </div>
  <% end %>
  <%= simple_form_for @capsule, html: { multipart: true, data: { 'autosave-target': 'form' } } do |f| %>
    <%= f.input :name, label: 'Capsule\'s name', input_html: { class: "capsule-name", placeholder: "My awesome memories", value: @capsule.name, data: { 'action': 'input->autosave#save' } }, label_html: { class: 'fw-bold fs-5' } %>
  <% end %>

  <!-- Toggle message section -->

  <div class="d-flex gap-2 align-items-center my-4" data-action="click->toggle#toggleMessages">
    <%= image_tag("myicons/saved-text-icon.svg") %>
    <p class="fs-6 fw-bold m-0 h-auto">Added messages ( <%= @capsule.messages.count %> )</p>
    <span class="material-symbols-outlined toggle-icon" data-toggle-target="toggleIcon">arrow_drop_down_circle</span>
  </div>
  <div class="container mt-2 mb-4 p-0">
    <% @capsule.messages.each do |message| %>
      <div data-toggle-target="message">
        <div class="d-flex justify-content-between mb-2 align-items-center">
          <p class="fw-bold text-black mb-0"><%= message.title %></p>
          <div class="d-flex align-items-center">
            <%= link_to edit_capsule_message_path(@capsule, message), class: 'pe-2 message-icon link-underline link-underline-opacity-0 border-end border-light-gray rounded-0 d-flex align-items-center' do %>
              <span class="material-symbols-outlined">edit_square</span>
            <% end %>
            <div class="v-divider"></div>
            <%= button_to capsule_message_path(@capsule, message), class: 'ps-2 btn p-0 message-icon d-flex align-items-center', method: :delete do %>
              <span class="material-symbols-outlined">close</span>
            <% end %>
          </div>
        </div>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>

  <!-- Toggle photos section -->

  <div id="photos-display" class="d-flex gap-2 align-items-center mb-4" data-action="click->toggle#togglePhotos">
    <%= image_tag("myicons/saved-photo-icon.svg") %>
    <p class="fs-6 fw-bold m-0 h-auto">Added photos ( <%= @capsule.photos.count %> )</p>
    <span class="material-symbols-outlined text-secondary toggle-icon" data-toggle-target="toggleIcon">arrow_drop_down_circle</span>
  </div>
  <div class="container mb-4 p-0" data-toggle-target="photo">
    <% if @capsule.photos.attached? %>
      <div class="d-flex border border-light-gray mt-2 mb-4 p-0 overflow-scroll p-2 pe-0 rounded-1">
        <% @capsule.photos.each do |photo| %>
           <%= image_tag photo, class: 'display-photos' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Toggle audios section -->

  <div id="audios-display" class="d-flex gap-2 align-items-center mb-4" data-action="click->toggle#toggleAudios">
    <%= image_tag("myicons/saved-audio-icon.svg") %>
    <p class="fs-6 fw-bold m-0 h-auto">Added Audios ( <%= @capsule.audios.count %> )</p>
    <span class="material-symbols-outlined text-secondary toggle-icon" data-toggle-target="toggleIcon">arrow_drop_down_circle</span>
  </div>
  <div class="container mt-2 mb-4 p-0">
    <% if @capsule.audios.attached? %>
      <% @capsule.audios.each do |audio| %>
        <div class="audio-container" data-toggle-target="audio">
           <%= audio_tag url_for(audio), class: 'mb-1', controls: true %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Toggle Videos section -->

  <div id="photos-display" class="d-flex gap-2 align-items-center mb-4" data-action="click->toggle#toggleVideos">
    <%= image_tag("myicons/saved-record-icon.svg") %>
    <p class="fs-6 fw-bold m-0 h-auto">Added videos ( <%= @capsule.videos.count %> )</p>
    <span class="material-symbols-outlined text-secondary toggle-icon" data-toggle-target="toggleIcon">arrow_drop_down_circle</span>
  </div>
  <div class="container mt-2 mb-4 p-0" data-toggle-target="video">
    <% if @capsule.videos.attached? %>
      <div class="d-flex border border-light-gray mt-2 mb-4 p-0 overflow-scroll p-2 pe-0 rounded-1">
        <% @capsule.videos.each do |video| %>
          <%= video_tag url_for(video), class: 'video-tag rounded p-0',controls: true %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- EDIT ZONE-->

  <h4 class="fw-bold mb-1 mt-4">Add new content to your capsule</h4>
  <hr class="mb-4">

  <!-- Add Message -->

  <%= link_to new_capsule_message_path(@capsule), data: { 'toggle-target': 'capsuleInput' }, class: 'link-underline link-underline-opacity-0 mb-1' do %>
    <div class="d-flex gap-2 align-items-center">
      <%= image_tag("myicons/text-icon.svg") %>
      <p class="fs-6 fw-bold m-0 h-auto text-black">Message<p>
    </div>
  <% end %>

  <!-- Photos upload -->

  <%= simple_form_for @capsule, url: capsule_medias_path(@capsule), method: :post do |f| %>

    <div class="dropzone" data-controller="dropzone" data-dropzone-max-file-size="100">
      <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <div class="d-flex gap-2 align-items-center">
          <%= image_tag("myicons/photo-icon.svg") %>
          <p class="fs-6 fw-bold m-0 h-auto">Photo<p>
          </div>
        </div>
      </div>
    <%= f.button :submit, class: "d-none" %>
  <% end %>

  <!-- Videos upload -->

  <%= simple_form_for @capsule, url: capsule_medias_path(@capsule), method: :post do |f| %>
    <div class="dropzone" data-controller="dropzone">
      <%= f.input :videos, as: :file, label: false, accept: 'video/*', input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <div class="d-flex gap-2 align-items-center">
          <%= image_tag("myicons/record-icon.svg") %>
          <p class="fs-6 fw-bold m-0 h-auto">Video<p>
          </div>
        </div>
      </div>
    <%= f.button :submit, class: "d-none" %>
  <% end %>

  <!-- Audios upload -->

  <%= simple_form_for @capsule, url: capsule_medias_path(@capsule), method: :post do |f| %>
    <div class="dropzone" data-controller="dropzone" data-dropzone-max-file-size="10">
      <%= f.input :audios, as: :file, label: false, input_html: { multiple: true, data: { dropzone_target: 'input', direct_upload_url: rails_direct_uploads_url } } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <div class="d-flex gap-2 align-items-center">
          <%= image_tag("myicons/audio-icon.svg") %>
          <p class="fs-6 fw-bold m-0 h-auto">Audio<p>
          </div>
      </div>
    </div>
    <%= f.button :submit, class: "d-none"%>
  <% end %>

  <div class="d-flex justify-content-center w-100 my-4">
    <%= link_to 'Next', capsule_details_path(@capsule), class: 'btn btn-dark rounded-pill px-4' %>
  </div>

</div>
