<div class="container" data-controller="dropzone" data-toggle-target="partial">
  <%= link_to 'Back', capsules_path, method: :patch %>
  <div class="container mt-3">
    <% @capsule.messages.each do |message| %>
      <div class="form-control">
        <p><%= message.title %></p>
        <p><%= message.content %></p>
        <%= link_to 'Edit', edit_capsule_message_path(@capsule, message) %>
        <%= button_to 'Delete', capsule_message_path(@capsule, message), method: :delete %>
      </div>
    <% end %>
  </div>

  <%= link_to 'Add message', new_capsule_message_path(@capsule) %>
  <div data-dropzone-target="photoThumbnails">
    <% @capsule.photos.each do |photo| %>
      <%= render partial: "capsules/thumbnail", locals: { photo: photo } %>
    <% end %>
  </div>
  <%= simple_form_for @capsule, html: { multipart: true, action: '/target', class: 'dropzone' } do |f| %>
    <%= f.input :photos,
                required: true,
                autofocus: true,
                as: :file,
                input_html: { multiple: true, 'data-action': 'change->dropzone#photoUpload', 'data-dropzone-target': 'photoInput' } %>

    <%= f.input :videos,
                required: true,
                autofocus: true,
                as: :file,
                input_html: { multiple: true } %>
    <%= f.input :audios,
                required: true,
                autofocus: true,
                as: :file,
                input_html: { multiple: true } %>
  <% end %>
  <div class="d-flex justify-content-center w-100">
    <button data-action="click->toggle#toggleCaspuleDataPartial" class="btn btn-dark rounded-pill px-4" >Next</button>
  </div>
</div>
