<div class="background-image vh-100">
  <div class="container">
    <div class="text-center mb-5 mt-5 title-wrapper">
      <h2>My Time Capsule account</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card login-form-image w-75 mx-auto">
          <div class="card-body mt-5 text-light mb-5">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" },
                            class: "form-control",
                            placeholder: "Email" %>
              </div>
              <div class="form-group">
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" },
                            class: "form-control",
                            placeholder: "Password" %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="form-group form-check">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me, class: "form-check-label" %>
                </div>
              <% end %>
              <div class="form-group">
                <%= f.button :submit, "Log in", class: "btn btn-primary btn-block w-100" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>

        <div class="title-wrapper mt-5"><h3>Retrieve your Time Capsule:</h3></div>
          <div class="Time-Capsule-Token">
            <form class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your code here">
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
